/*style.css*/
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1;
  background-color: var(--current-background);
  color: var(--current-foreground);
}
.color1 {
  color: #131617;
}
.color2 {
  color: #34393c;
}
.color3 {
  color: #5e676b;
}
.color4 {
  color: #929fa4;
}
.color5 {
  color: #d0e3e9;
}
:root {
  /* Dark theme */
  --dark-background: #34393c;
  --dark-dark-accent: #131617;
  --dark-neutral: #5e676b;
  --dark-light-accent: #929fa4;
  --dark-foregeound: #d0e3e9;
  /* Light theme */
  --light-background: #d0e3e9;
  --light-dark-accent: #131617;
  --light-foregeound: #34393c;
  --light-neutral: #5e676b;
  --light-light-accent: #929fa4;
  /* Defaults */
  --current-background: var(--light-background);
  --current-dark-accent: var(--light-dark-accent);
  --current-light-accent: var(--light-light-accent);
  --current-foreground: var(--light-foregeound);
  --current-neutral: var(--light-neutral);
}
@media (prefers-color-scheme: dark) {
  :root {
    --current-background: var(--dark-background);
    --current-foreground: var(--dark-foregeound);
    --current-dark-accent: var(--dark-dark-accent);
    --current-light-accent: var(--dark-light-accent);
    --current-neutral: var(--dark-neutral);
  }
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.gameHUD {
  position: absolute;
  width: 15%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  padding: 2px;
}

.heroUI {
  width: 100%;
  height: 20%;
  /*  border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2px;
  font-family: Arial, Helvetica, sans-serif;
  /*  border: 1px solid rgb(240, 209, 107);
  border-radius: 3px; */
}

.firstline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  width: 100%;
}

.avatar {
  width: 15px;
  aspect-ratio: 1/1;
  display: block;
}

.id {
  height: 20px;
}

svg {
  width: 100%;
  height: 100%;
}

.caption {
  fill: white;
}

.health {
  width: 95%;
  border: grey 1px solid;
  height: 6%;
  border-radius: 2px;
  overflow: hidden;
}

.innerhealth {
  background: limegreen;
  height: 100%;
}

.points {
  width: 100%;
  text-align: center;
  font-size: 0.5vw;
}

.inventory {
  width: 95%;
  height: 12%;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1px;
  image-rendering: pixelated;
}

.rock {
  width: 5px;
  aspect-ratio: 1/1;
  background-image: url("./Assets/rock.png");
  background-size: 10px;
  background-position: -2px -3px;
  background-repeat: no-repeat;
}
.whip {
  width: 5px;
  aspect-ratio: 1/1;
  background-image: url("./Assets/whip.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.club {
  width: 5px;
  aspect-ratio: 1/1;
  background-image: url("./Assets/club.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 1px 0px;
}
.knife {
  width: 5px;
  aspect-ratio: 1/1;
  background-image: url("./Assets/tknife.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.key {
  width: 5px;
  aspect-ratio: 1/1;
  background-image: url("./Assets/key.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.playerdisplay {
  font-size: x-small;
  border: 1px solid white;
  border-radius: 3px;
  grid-column-start: 2;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
  padding: 3px;
}

.player_container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  gap: 1px;
  border-radius: 3px;
  padding: 2px;
  border: 1px solid white;
  width: 80%;
  height: 20%;
  font-size: 0.4vw;
}

.playerid {
}

.colorchange {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
  width: 95%;
}

.playercolor {
  width: 18px;
  aspect-ratio: 1/1;
  border: 1px solid white;
}

.color_input {
  width: 50px;
  text-align: center;
  height: 15px;
  border: 1px solid white;
  border-radius: 3px;
}

.nickname {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;

  width: 95%;
}

.playernickname {
  border: 1px solid white;
  width: 50px;
  height: 10px;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nick_input {
  font-size: 0.3vw;
}

.nick_button {
  font-size: 0.2vw;
  cursor: pointer;
  width: 25%;
}

.inputflex {
  width: 45%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3px;
}

.slider {
  -webkit-appearance: none;
  font-size: xx-small;
  width: 100px;
  height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 10px;
  width: 10px;
  border-radius: 3px;
  background: #808080;
  cursor: pointer;
  box-shadow: 0px 0px 2px 2px #000000;
}
